{{ define "main" }}

<article class="landing">
    <div style="flex-grow: 1">
        Nothing to see here...
    </div>

    <aside>
        <img alt="mickey mouse" src="{{ .Site.BaseURL }}/img/mickey.png" width="148" height="148">

        <table class="ext-links">
            <tr>
                <th class="ext-links">email</th>
                <td class="ext-links"><a href="mailto:francorbacho@proton.me">francorbacho@proton.me</td>
            </tr>
            <tr>
                <th class="ext-links">mastodon</th>
                <td class="ext-links"><a href="https://fosstodon.org/@francorbacho">fosstodon.org/@francorbacho</td>
            </tr>
            <tr>
                <th class="ext-links">keybase</th>
                <td class="ext-links"><a href="https://keybase.io/francorbacho">keybase.io/francorbacho</td>
            </tr>
            <tr>
                <th class="ext-links">github</th>
                <td class="ext-links"><a href="https://github.com/francorbacho">github.com/francorbacho</td>
            </tr>
        </table>
    </aside>

</article>

{{ end }}
